.button {
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #ffffff;
    padding: 19px 22px;
    display: inline-flex;
    border: 1px solid #ec3e5a;
    border-radius: 2px;
    min-width: 317px;
    &--more {
        background: #ec3e5a url("../img/icons/arrow.svg") 95% center no-repeat;
    }
    &--get {
        background: url("../img/icons/tickets.svg") 95% center no-repeat;
    }
}

@media (max-width: $tablet-width) {
    .button {
        min-width: 100%;
    }
}