.event {
    padding: 25px;
    border: 1px solid rgba(143, 154, 157, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position: relative;
    min-height: 360px;
    background: #ffffff url("../img/logo-star.svg") no-repeat top right;
    &--live {
        background: #ffffff url("../img/logo-star-watch.svg") no-repeat top right;
        border: 1px solid #ff5e5e;
    }
}

.event__pre-wrapper {
    display: flex;
    justify-content: space-between;
}

.event__pre-times {
    margin: 0;
}

.event__time {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #282830;
}

.event__date {
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.01em;
    color: #757c84;
}

.event__pre-times {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.event__pre-title {
    font-size: 14px;
    line-height: 20px;
    color: #757c84;

    letter-spacing: 0.01em;
}

.event__coefficient-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.event__teams {
    margin-top: 120px;
}

.event__player-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    margin: 0;
}

.event__coefficient-content {
    background: #fafafa;
    border: 1px solid rgba(151, 151, 151, 0.1);
    padding: 2px 7px;
}

.event__copy {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    span {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #757c84;
    }
}

.event__watch-live {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 38px;
    position: relative;
    &::before {
        content: "";
        display: block;
        background: url("../img/icons/play-video.svg");
        width: 35px;
        height: 35px;
        position: absolute;
        right: 0;
        top: -40px;
    }
}
