.header {
    background: black url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.header__line {
    background: black;
    padding: 15px 0;
}

.header__info {
    padding: 225px 10px 125px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 19%;
}

.header__title {
    max-width: 719px;
    font-size: 60px;
    line-height: 115%;
    margin-top: 46px;
}

.header__description {
    position: relative;
    margin-top: 51px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #fafafa;
    &::before {
        content: "";
        display: block;
        height: 90%;
        background: #ec3e5a;
        width: 2px;
        left: 0;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
}

.header__description-content {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    max-width: 730px;
    padding-left: 42px;
}

.header__place-list {
    @include reset-list;
    li {
        margin-bottom: 11px;
        span:first-child {
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            letter-spacing: 0.01em;
            width: 70px;
            display: inline-flex;
        }
        span:last-child {
            font-weight: bold;
            margin-left: 25px;
        }
    }
}

.header__social-list {
    display: flex;
    margin-top: 100px;
    margin-bottom: 22px;
}

.header__social-link {
    margin-right: 41px;
    width: 22px;
    height: 22px;
}

.header__info-more {
    align-self: end;
}

.header__btns-wrapper {
    margin-top: 86px;
}