.header__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  align-items: center;

  position: relative;
}

.header__phone {
  width: 380px;
  display: flex;
  margin-left: auto;
}

.header__navigation {
  width: 400px;
}

.header__phone-number {
  font-weight: 500;
  margin-left: 20px;
  transition: all 0.2s;
  &:hover {
    color: #00dfc8;
  }
}

.header__lang {
  display: flex;
  align-items: center;
  // width: 100px;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  &--mobile {
    display: none;
    text-transform: uppercase;
    font-size: 12px;
  }
}


.header__search-wrapper {
  position: relative;

  a {
    padding: 15px;
  }

  &:hover {
    .header__search-form {
      display: block;
    }
  }
}

.header__search {
  background-image: url("../img/sprite/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.header__search-form {
  position: absolute;
  z-index: 10000;
  display: none;
}

.header__addition {
  display: flex;
  align-items: center;
  //   font-size: 0;
  // width: 100px;

  a {
    &:first-child {
      // width: 50px;
      margin-left: 25px;
      padding: 15px;
      @media (max-width: $tablet-width) {
        margin-left: 30px;
      }
    }
    @media (max-width: $desktop-width) {
      margin-left: 15px;
    }
    @media (max-width: $tablet-width) {
      margin-left: 30px;
    }
  }
}

.header__favorites {
  background-image: url("../img/sprite/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s;
  position: relative;
  &:hover {
    transform: scale(1.2);
  }
  &--yes {
    &::after {
      content: "";
      position: absolute;
      font-size: 12px;
      top: 5px;
      right: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid white;
      background: #00dfc8;
      color: white;
      z-index: 1;
    }
  }
}

@media (max-width: $laptop-width) {
  .header__addition {
    a:first-child {
      margin-left: 5px;
    }
  }
  .header__favorites {
    margin-right: 20px;
  }
  .header__navigation {
    position: absolute;
    bottom: -33px;
    right: 0;
    z-index: 1;

    width: 74%;
  }

  .header__search-wrapper {
    &:hover {
      .header__search-form {
        display: none;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .header__favorites {
    margin-right: 0px;
  }
  .header--open-menu {
    .header__wrapper-bg {
      background-color: #f2f4f6;
    }
  }
  .header__wrapper-bg {
    background-color: #ffffff;
  }
  .header__phone {
    width: auto;
    margin-left: auto;
    margin-right: 0px;
  }
  .header__phone-number {
    font-size: 0;
    width: 20px;
    height: 22px;
    display: none;
    &--current {
      display: block;
      background: url("../img/sprite/phone-call.svg");
      background-repeat: no-repeat;
    }
  }
  .header__lang {
    display: none;
    &--mobile {
      display: flex;
      align-items: center;
    }
  
  }


  .header__addition a:first-child {
    // padding: 0;
    margin-left: 25px;
    // background-size: 60%;
  }
}
