.register-steps__item {
    display: flex;
    margin-bottom: 37px;
    align-items: center;
    &:last-child {
        .register-steps__item-icon {
            &::after {
                content: none;
            }
        }
    }
    &--active {
        .register-steps__item-icon {
            background: linear-gradient(145deg, rgba(77, 186, 123, 1) 50%, rgba(32, 169, 90, 1) 50%);
            border: 2px solid #20a95a;
            svg {
                fill: white;
            }
            &::before {
                content: "";
                display: block;
                width: 60px;
                height: 60px;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #ffffff;
            }
        }

        .register-steps__head {
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;

            letter-spacing: 0.01em;
            color: #282830;
        }
    }
}

.register-steps__item-info {
    margin-left: 19px;
    span {
        display: block;
    }
}

.register-steps__head {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    letter-spacing: 0.01em;

    color: #757c84;
}

.register-steps__time {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #282830;
}

.register-steps__item-icon {
    width: 60px;
    height: 60px;

    border: 2px solid #d7d9da;
    background: #ffffff;
    box-sizing: content-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
        fill: #838a91;
    }

    &::before {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #e3e3e3;
    }

    &::after {
        content: "";
        display: block;
        width: 5px;
        height: 45px;
        bottom: 0;
        transform: translate(0, 100%);
        z-index: -1;
        position: absolute;
        background: #ffffff;
        box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.1);
    }
}

.register-steps__status {
    text-align: center;
    margin-bottom: 30px;
    span {
        display: block;
    }
}

.register-steps__status-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #ffffff;
}

.register-steps__status-team {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.register-steps__status {
    padding: 10px;
    background: rgb(77, 186, 123);
    background: linear-gradient(169deg, rgba(77, 186, 123, 1) 50%, rgba(32, 169, 90, 1) 50%);
    border-radius: 2px;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background-image: url("../img/icons/yes.svg");
        background-size: contain;
        left: 20px;
    }
}

@media (max-width: $tablet-width) {
    .register-steps__status {
        &::before {
            content: none;
        }
    }
}