.results {
    margin-top: 90px;
}

.results__title {
    margin: 0;
    font-size: 32px;
    line-height: 45px;

}

.results__toggle-panel {
    margin-top: 38px;
}

.results__events {
    margin-top: 60px;
}