.stages-of {
    padding: 85px 10px;
}

.stages-of__title {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 35px;
    color: #282830;
}

.stages-of__description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #757c84;
    max-width: 785px;
    margin-top: 22px;

    a {
        color:#FF5E5E;
    }
}

.stages-of__team-list {
    margin-top: 25px;
}

.stages-of__wrapper {
    display: grid;
    grid-template-columns: 945px 1fr;
    column-gap: 40px;
}

.stages-of__more-links {
    margin-top: 30px;
}