.team__registered {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 11px;
    letter-spacing: 0.01em;

    color: #282830;
}

.team__head {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #757c84;
    display: flex;
}

.team__list {
    @include reset-list;
}

.team__head-placeholder {
    width: 84px;
    text-align: center;
    padding: 19px 10px 10px;
}

.team__item {
    &:nth-child(odd) {
        background: #ffffff;
    }
}

.team__player-number {
    min-width: 56px;
    text-align: center;
}


.team__link {
    display: block;
    display: flex;
    border: 1px solid transparent;
    transition: all 0.2s;
    padding: 13px 36px 15px 12px;
    span {
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #282830;
    }
    &:hover {
        border: 1px solid #20a95a;
    }
}

.team__player-name {
    margin-left: 60px;
    position: relative;
    flex-grow: 1;
    &::before {
        content: "";
        display: block;
        width: 24px;
        height: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -35px;
    }

    &--ua {
        &::before {
            background: url("../img/flags/ua.svg");
        }
    }
}

@media (max-width: $tablet-width) {
    .team__list {
        margin-bottom: 40px;
    }
}