@import "normalize.scss";
@import "variables";
@import "fonts";
@import "mixin";
@import "libs";
@import "scaffolding";
// @import "libs/swiper.scss";

@import "blocks/header.scss";

@import "blocks/footer.scss";