
//Template Colors
//Можно добавлять цвета из темы
$main-color-text: #2f3640;


//Template containers
$mobile-width-container: 540px;
$tablet-width-container: 790px;
$laptop-width-container: 1100px;
$desktop-width-container: 1220px;

//Template breakpoints
$mobile-width: 540px;
$tablet-width: 760px;
$laptop-width: 1100px;
$desktop-width: 1440px;

//Template retina media
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//Template Fonts for BODY
$main-fonts: "Roboto", "Arial", sans-serif;
$sec-fonts: "Roboto", "Arial", sans-serif;
$main-font-size: 16px;
$main-font-weight: 400;
